<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI_choice</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<body>
    <form action="" method="post">
    {% csrf_token %}
    <div>
        <label for="start_date">開始時刻</label>
        <input type="text" name="start_date" id="start_date">
    </div>
    <p></p>
    <div>
        <label for="end_date">終了時刻</label>
        <input type="text" name="end_date" id='end_date'>
    </div>
    <button>決定</button>
    </form>
    <div>
        <a href='/main/'>メインページに戻る</a>
    </div>
</body>
</html>