<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='' method="post">
    {% csrf_token %}
    <div>
        <label for="name">ユーザーネーム</label>
        <input type="text" name="name" id="name">
    </div>
    <p></p>
    <div>
        <label for="password">パスワード</label>
        <input type="text" name="password" id='password'>
    </div>
    <button>login</button>
    </form>
    <p>{{error}}</p>
    <div>
        <a href='account_create/'>アカウントを新たに作る</a>
    </div>
</body>
</html>